
IO_LOC "led_o[3]" P24;
IO_PORT "led_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[2]" P23;
IO_PORT "led_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[1]" M19;
IO_PORT "led_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led_o[0]" R21;
IO_PORT "led_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

//IO_LOC "test_o[3]" T23;
//IO_PORT "test_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_LOC "test_o[2]" P25;
//IO_PORT "test_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_LOC "test_o[1]" T25;
//IO_PORT "test_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
//IO_LOC "test_o[0]" M19;
//IO_PORT "test_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;


IO_LOC "sfp2_tx_disable_o" R25;
IO_PORT "sfp2_tx_disable_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "sfp1_tx_disable_o" R23;
IO_PORT "sfp1_tx_disable_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "tx_o" R17;
IO_PORT "tx_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "rx_i" R16;
IO_PORT "rx_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;
IO_LOC "resetn_i" U17;
IO_PORT "resetn_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;
IO_LOC "osc_clk_i" N21;
IO_PORT "osc_clk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;




//hdmi
IO_LOC "IO_adv7513_sda" 			F25;
IO_LOC "IO_adv7513_scl" 			G25;
IO_LOC "O_adv7513_data[23]" 		J15;
IO_LOC "O_adv7513_data[22]" 		K15;
IO_LOC "O_adv7513_data[21]" 		J16;
IO_LOC "O_adv7513_data[20]" 		J18;
IO_LOC "O_adv7513_data[19]" 		H18;
IO_LOC "O_adv7513_data[18]" 		K18;
IO_LOC "O_adv7513_data[17]" 		H19;
IO_LOC "O_adv7513_data[16]" 		G20;
IO_LOC "O_adv7513_data[15]" 		J19;
IO_LOC "O_adv7513_data[14]" 		J20;
IO_LOC "O_adv7513_data[13]" 		F24;
IO_LOC "O_adv7513_data[12]" 		G24;
IO_LOC "O_adv7513_data[11]" 		D25;
IO_LOC "O_adv7513_data[10]" 		D26;
IO_LOC "O_adv7513_data[9]" 			E25;
IO_LOC "O_adv7513_data[8]" 			E26;
IO_LOC "O_adv7513_data[7]" 			G26;
IO_LOC "O_adv7513_data[6]" 			H26;
IO_LOC "O_adv7513_data[5]" 			J25;
IO_LOC "O_adv7513_data[4]" 			J26;
IO_LOC "O_adv7513_data[3]" 			J24;
IO_LOC "O_adv7513_data[2]" 			L18;
IO_LOC "O_adv7513_data[1]" 			L19;
IO_LOC "O_adv7513_data[0]" 			K20;
IO_LOC "O_adv7513_de" 				L14;
IO_LOC "O_adv7513_hs" 				L15;	
IO_LOC "O_adv7513_vs" 				M15;
IO_LOC "O_adv7513_clk" 				K21;



IO_PORT "IO_adv7513_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "IO_adv7513_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_adv7513_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;